<mat-accordion>
    <mat-expansion-panel 
      *ngFor="let em of expandableMenu"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title active>
          {{ em.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
          <mat-nav-list>
            <a 
              *ngFor="let link of em.subMenus" 
              mat-list-item [routerLink]="link.route" 
              (click)="toggleFiller()"> {{ link.title }} </a>
          </mat-nav-list>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  