<mat-accordion>
    <mat-expansion-panel 
      *ngFor="let em of expandableMenu"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ em.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-nav-list>
        <a *ngFor="let link of em.subMenus" mat-list-item [routerLink]="link.route" > {{ link.title }} </a>
     </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  